{%extends 'base.html'%}{%block title%}Administrador{%endblock%}
{%block content%}
<script src="plugins/multiselect-dropdown.js"></script>
<h1>Administrador</h1>
<form method="POST">
    <div class="form-group">
        <div id="control">
            <span class="btn btn-primary" data-idvalue="tags" onclick="showDiv(this)">Tags</span>
            <span class="btn btn-primary" data-idvalue="user" onclick="showDiv(this)">Usuarios</span>
            <span class="btn btn-primary" data-idvalue="status" onclick="showDiv(this)">Status</span>
            <span class="btn btn-primary" data-idvalue="sugges" onclick="showDiv(this)">Sugestões</span>
            <span class="btn btn-primary" data-idvalue="news" onclick="showDiv(this)">Notícias</span>
        </div>
        <div id="tags-control" hidden>
            <h3>Tags:</h3>
            <select class="form-control text-black" id="tags" name="tags" onchange="tagChanged()">
                <option value="" class="text-black">Selecione uma tag</option>
                {% for tag in database.getAll('tags') %}
                    <option value="{{tag[0]}}" class="text-black">{{tag[1]}}</option>
                {% endfor %}
            </select>
            <div id="tag-interact" hidden>
                <button class="btn btn-danger" type="submit" name="tag-d" value="">Apagar Tag</button>
            </div>
            <br><br>
            <div class="bg-dark">
                <br>
                <label class="form-label" for="tag-c-name">Criar Tag:</label>
                <input class="form-control" style="width: 10em;" name="tag-c-name" id="tag-c-name">
                <button type="submit" name="tag-c" class="btn btn-secondary">Criar Tag</button>
                <br>
            </div>
        </div>
        <div id="user-control" hidden>
            <h3>Usuarios:</h3>
            <select class="form-control text-black" id="users" name="users" onchange="userChanged()">
                <option value="" class="text-black">Selecione um Usuario</option>
                {% for user in database.getAll('users') %}
                    <option value="{{user[0]}}" class="text-black">{{(user[1]|jineval)['user']['username']}}</option>
                {% endfor %}
            </select>
            <br>
            <div id="user-interact" hidden>
                <button class="btn btn-secondary" type="submit" name="user-sadm">Promover a Administrador</button>
            </div>
        </div>
        <script>
            function tagChanged(){
                let tags = document.getElementById('tags');
                let d = document.getElementById('tag-interact');
                if (tags && tags.value){
                    d.hidden = false;
                }else{
                    d.hidden = true;
                };
            }
            function userChanged(){
                let users = document.getElementById('users');
                let dd = document.getElementById('user-interact');
                if (users && users.value){
                    dd.hidden = false;
                }else{
                    dd.hidden = true;
                };
            }
            $(document).ready(function(){
                $("#tags").select2();
                $("#users").select2();
            });
        </script>
        <div id="status-control" hidden>
            <h3>Status:</h3>
            <h4>
                <i class="fa-solid fa-temperature-full"></i>Postagens: {{database.getAll('post')|get_len}}<br>
                <i class="fa-solid fa-users"></i>Usuarios: {{database.getAll('users')|get_len}}<br>
                <i class="fa-solid fa-hashtag"></i>Tags: {{database.getAll('tags')|get_len}}<br>
                <i class="fa-solid fa-newspaper"></i>Notícias: {{database.getAll('news')|get_len}}<br>
                <i class="fa-regular fa-newspaper"></i>Sugestões: {{database.getAll('suggestions')|get_len}}<br>
                <i class="fa-solid fa-database"></i>Database size: {{database|get_db_size}}
            </h4>
            <small>Aqui você pode ver status importantes.</small>
        </div>
        <div id="sugges-control" hidden>
            <h3>Sugestões:</h3>
            <div style="overflow-y: scroll; height: 20em;">
                <ol>
                    {% for suge in database.getAll('suggestions') %}
                        {% set s = suge[1]|jineval %}
                        <li class="bg-dark text-white">
                            {% set author = database.get('users',s['authorId'])[1]|jineval %}
                            <span style="font-weight: bolder;">Enviado por: <img src="{{author['user']['avatar_url']}}" width="32" height="32" style="border-radius:  100%;">{{author['user']['username']}}</span><br>
                            <span class="btn btn-secondary"  data-idvalue="{{suge[0]}}"onclick="openDiv(this)">Abrir</span>
                            <script>
                                function openDiv(me){
                                    var who = document.getElementById(me.dataset.idvalue+'-expand');
                                    who.hidden = !who.hidden;
                                }
                            </script>
                            <div id="{{suge[0]}}-expand" hidden>
                                <div style="box-shadow: 0.25em 0.25em 0.5em black; border: 0.1em solid black; background-color: rgba(0, 0, 0, 0.1); margin: 1em;">
                                    {{s['content']}}
                                </div>
                                <br>
                                <small>{{s['date']}}</small><br>
                                <div>
                                    Votes: <span>{{((suge[1]|jineval)['wholiked']|get_len)-((suge[1]|jineval)['whounliked']|get_len)}}</span>
                                </div><br>
                                <button name="sug-d" class="btn btn-danger" value="{{s}}" onclick="`{{database.delete('suggestions',suge[0])}}`">Apagar</button>
                                <button name="sug-c" class="btn btn-success" value="{{s}}" onclick="`{{database.delete('suggestions',suge[0])}}`">Concluído</button>
                            </div>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        <div id="news-control" hidden>
            <h3>Notícias</h3>
            <small>Criar</small>
            <textarea class="form-control" name="new-cont"></textarea><br>
            <button class="btn btn-success" type="submit" name="new-c">Criar</button>
        </div>
        <script>
            function showDiv(button){
                var me  = document.getElementById(button.dataset.idvalue+'-control');
                me.hidden = !me.hidden;
            }
        </script>
    </div>
</form>
{% endblock %}