{%extends 'base.html'%}{%block title%}Home{%endblock%}
{%block content%}
<h1>Bem-vindo!</h1>
<hr>
<h3>Últimas Postagens: <br>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-content" aria-expanded="false" aria-controls="collapse-content"><i class="fa-solid fa-bars"></i></button>
</h3>
<br>
<div id="collapse-content" class="collapse" style="width: 100%;">
    <hr>
    <div class="container">
      
      <div id="posts" style="width: 100%;">
        {% include '/loadable/post_show.html' %}
      </div>
    </div>
</div>
{%endblock%}