{%extends 'base.html'%}{%block title%}Home{%endblock%}
{%block content%}

<div style="background-color: #fff; font-weight: bolder; border-radius: 1em;" id="userArea" class="OUserColor" onload="updatecolor()">
    <style>
        #userArea{
            text-shadow: 0.25em 0.25em 0.1em black;
        }
    </style>
    <br>
    <div style="box-shadow: 0.25em 0.25em 0.1em black; margin-right: 1em; bottom: 1%;" class="bg-dark">
        <br>
        <img src="{{user.user['avatar_url']}}" width="64" height="64" style="border-radius: 25%;">
        <h2>{{user.user['username']}}</h2>
        <small style="font-size: 0.75em;">ID: {{user.user['id']}}</small><br>
        <div style="border: 0.1em solid black; background-color: rgba(0,0,0,0.1); margin: 1em;">
            <small>Sobre mim:</small><br>
            <div style="text-align: center;">
                {{user.aboutme}}
            </div>
        </div>
        <div style="border: 0.1em solid black; background-color: rgba(0,0,0,0.1); margin: 1em;">
            <small>Links deste Usuário:</small>
            <ul style="color: #fff;">
                {% for url in user.links.keys() %}
                    <li><a class="OUserColor" href="{{user.links[url]['url']}}"><i class="{{user.links[url]['type']}}"></i>{{user.links[url]['title']}}</a></li>
                {%endfor%}
            </ul>
        </div>
        <br>
    </div>
    <br>
</div>
<script>
    function updatecolor(){
        var xxx = document.getElementsByClassName('OUserColor');
        for (var ele of xxx){
            if (ele.tagName == "DIV"){
                ele.style.backgroundImage = "linear-gradient({{user.highlight_color}},{{user.gradient_color}})"
                ele.style.backgroundColor = "{{user.highlight_color}}";
                ele.style.borderColor = "{{user.highlight_color}}";
            }else{
                ele.style.color = "{{user.highlight_color}}";
            }
        };
    }
    updatecolor()
</script>
{%endblock%}
